Repository ss220club/Paradise, pull requests merged in 2023-04, with the labels that each got.

#9 feat: Unlock button for some panels
  code/game/machinery/alarm.dm
  code/game/machinery/computer/camera_advanced.dm
  code/game/machinery/portable_tag_turret.dm
  code/game/machinery/portable_turret.dm
  code/game/machinery/turret_control.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/hostile/statue.dm
  code/modules/mob/mob_defines.dm
  code/modules/power/apc.dm
  tgui/packages/tgui/interfaces/AirAlarm.js
  tgui/packages/tgui/interfaces/PortableTurret.js
  tgui/packages/tgui/interfaces/common/InterfaceLockNoticeBox.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: javascript, TGUI

#10 FEAT: Shadowling BUFF
  code/game/gamemodes/shadowling/shadowling_abilities.dm
  icons/mob/actions/actions.dmi
Labels: DMI

#18 Ref: Removed cryosleep subtype
  _maps/map_files/Delta/Lavaland.dmm
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/generic/Lavaland.dmm
  _maps/map_files/generic/z2_old.dmm
  code/game/machinery/adv_med.dm
  code/game/machinery/cryopod.dm
  icons/obj/machines/cryogenic2.dmi
Labels: DMI, MAP

#20 Add: Mechanics eva space suit
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/machinery/suit_storage_unit.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  icons/mob/head.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/species/drask/helmet.dmi
  icons/mob/species/drask/suit.dmi
  icons/mob/species/tajaran/helmet.dmi
  icons/mob/species/tajaran/suit.dmi
  icons/mob/species/vox/helmet.dmi
  icons/mob/species/vox/suit.dmi
  icons/mob/species/vulpkanin/helmet.dmi
  icons/mob/species/vulpkanin/suit.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/species/tajaran/hats.dmi
  icons/obj/clothing/species/tajaran/suits.dmi
  icons/obj/clothing/species/unathi/hats.dmi
  icons/obj/clothing/species/unathi/suits.dmi
  icons/obj/clothing/species/vox/hats.dmi
  icons/obj/clothing/species/vox/suits.dmi
  icons/obj/clothing/species/vulpkanin/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: DMI, MAP

#32 fix: runtime and double windows on shuttles
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#34 feat: Healing aura
  code/__DEFINES/colors.dm
  code/__DEFINES/cooldowns.dm
  code/__DEFINES/is_helpers.dm
  code/__HELPERS/traits.dm
  code/__HELPERS/unsorted.dm
  code/controllers/subsystem/processing/aura_healing.dm
  code/controllers/subsystem/processing/processing.dm
  code/datums/components/aura_healing.dm
  code/datums/status_effects/buffs.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/cult/cult_structures.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/table_frames.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/floor/misc_floor.dm
  code/game/turfs/simulated/walls_misc.dm
  code/modules/buildmode/submodes/advanced.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/silicon/decoy/decoy.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/mob/living/simple_animal/damage_procs.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/terror_ai.dm
  code/modules/mob/living/simple_animal/shade.dm
  code/modules/tgui/tgui.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  paradise.dme
Labels: DMI

#51 Feat: Better sprite for "Body Scanner"
  icons/obj/machines/cryogenic2.dmi
Labels: DMI

#45 Ref: Boxes
  code/game/gamemodes/thief/thief_kit.dm
  code/game/machinery/cloning.dm
  code/game/objects/items/random_items.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/game/objects/random/random.dm
  code/modules/antagonists/traitor/contractor/datums/rep_purchases/fulton.dm
  code/modules/clothing/upgrade_modules/hardsuit_shield_module/hardsuit_shield.dm
  code/modules/clothing/upgrade_modules/hardsuit_taser_proof_module/hardsuit_taser_proof.dm
  code/modules/hydroponics/gene_modder.dm
  code/modules/pda/pdas.dm
  code/modules/recycling/sortingmachinery.dm
  code/modules/surgery/organs/augments_internal.dm
  icons/obj/food/food.dmi
  icons/obj/pda.dmi
  icons/obj/storage.dmi
Labels: DMI
