Repository ss220club/Paradise, pull requests merged in 2023-05, with the labels that each got.

#77 Feat: RnD chemistry [BOUNTY]
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#81 [BOUNTY]Add: donators suits and stuff
  code/datums/action.dm
  code/modules/client/preference/loadout/loadout_donor.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/shoes/colour.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/miscellaneous.dm
  icons/mob/feet.dmi
  icons/mob/hands.dmi
  icons/mob/head.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/species/drask/helmet.dmi
  icons/mob/species/skrell/helmet.dmi
  icons/mob/species/tajaran/helmet.dmi
  icons/mob/species/unathi/helmet.dmi
  icons/mob/species/vox/helmet.dmi
  icons/mob/species/vulpkanin/helmet.dmi
  icons/mob/suit.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/uniforms.dmi
Labels: DMI

#67 Awaking now!
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/objects/structures/decor/decor.dm
  code/modules/client/preference/preferences_spawnpoints.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/new_player/new_player.dm
Labels: MAP

#75 Bodycams
  code/__DEFINES/dcs/signals.dm
  code/game/atoms_movable.dm
  code/game/machinery/camera/body_camera.dm
  code/game/machinery/vending.dm
  icons/obj/machines/monitors.dmi
  paradise.dme
Labels: DMI

#76 Feat: GateGun
  code/modules/awaymissions/mission_code/UO71-terrorspiders.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/research/designs/weapon_designs.dm
  icons/obj/weapons/energy.dmi
Labels: DMI

#83 Feat: Simple healthdolls (TG port)
  code/__DEFINES/colors.dm
  code/__HELPERS/filters.dm
  code/_onclick/hud/other_mobs.dm
  code/_onclick/hud/plane_master.dm
  code/_onclick/hud/screen_objects.dm
  code/datums/filter.dm
  code/modules/client/preference/preferences.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/update_status.dm
  icons/mob/screen_gen.dmi
  paradise.dme
Labels: DMI

#65 Feat: (Cyberiad) Polarized windows in QM office and a couple of improvements.
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#58 Feat: Space Dragon (TG port)
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/math.dm
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/rolebans.dm
  code/datums/elements/connect_loc.dm
  code/modules/events/event_container.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/space_dragon/action.dm
  code/modules/space_dragon/antag.dm
  code/modules/space_dragon/carp.dm
  code/modules/space_dragon/carp_rift.dm
  code/modules/space_dragon/event.dm
  code/modules/space_dragon/mob.dm
  icons/mob/actions/actions.dmi
  icons/mob/spacedragon.dmi
  icons/obj/carp_rift.dmi
  paradise.dme
  sound/creatures/space_dragon_roar.ogg
  sound/effects/gravhit.ogg
  sound/vehicles/rocketlaunch.ogg
Labels: DMI

#37 Feat: (Cyberiad) Medbay remap
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#84 Feat: Cyberiad to prime
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#96 Fix: IconDiffBot2
  icons/mob/spacedragon.dmi
Labels: DMI

#94 [PRIME]New barsign
  code/game/objects/structures/barsign.dm
  icons/obj/barsigns.dmi
Labels: DMI

#99 [BOUNTY] Add: Black captain's cloak and beret
  code/game/objects/items/weapons/storage/garment_bag.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/neck/cloaks.dm
  icons/mob/head.dmi
  icons/mob/neck.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/neck.dmi
Labels: DMI

#100 Fix icons/mob/spacedragon.dmi metadata
  icons/mob/spacedragon.dmi
Labels: DMI

#97 Master -> Prime [2] [03/05/2023]
  _maps/map_files/cyberiad/cyberiad.dmm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/math.dm
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/rolebans.dm
  code/datums/elements/connect_loc.dm
  code/modules/events/event_container.dm
  code/modules/mob/holder.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/space_dragon/action.dm
  code/modules/space_dragon/antag.dm
  code/modules/space_dragon/carp.dm
  code/modules/space_dragon/carp_rift.dm
  code/modules/space_dragon/event.dm
  code/modules/space_dragon/mob.dm
  icons/mob/actions/actions.dmi
  icons/mob/spacedragon.dmi
  icons/obj/carp_rift.dmi
  paradise.dme
  sound/creatures/space_dragon_roar.ogg
  sound/effects/gravhit.ogg
  sound/vehicles/rocketlaunch.ogg
Labels: DMI, MAP

#103 Fix: (Cyberiad) New Medbay fixes.
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#98 Fix: Add crusher inhand icons
  icons/mob/inhands/mobs_lefthand.dmi
  icons/mob/inhands/mobs_righthand.dmi
Labels: DMI

#104 Fix: [Prime] (Cyberiad) New Medbay fixes.
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#90 NEW: Chaplain exosuit "mk.V Executioner"
  code/game/mecha/combat/durand.dm
  code/game/mecha/equipment/tools/mining_tools.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/mecha/mech_fabricator.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_actions.dm
  code/game/mecha/mecha_construction_paths.dm
  code/game/mecha/mecha_parts.dm
  code/game/mecha/mecha_wreckage.dm
  code/game/turfs/simulated/minerals.dm
  code/modules/research/designs/mecha_designs.dm
  code/modules/research/designs/mechfabricator_designs.dm
  icons/mob/actions/actions_mecha.dmi
  icons/obj/mecha/mech_construct.dmi
  icons/obj/mecha/mech_construction.dmi
  icons/obj/mecha/mecha.dmi
  icons/obj/mecha/mecha_equipment.dmi
Labels: DMI

#112 [BOUNTY] Add: New captain's poster
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/objects/effects/decals/contraband.dm
  icons/obj/contraband.dmi
Labels: DMI, MAP

#107 Fix: (Cyberiad) Another fixes for new Medbay
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#110 Master -> Prime [2] [05/05/2023]
  _maps/map_files/cyberiad/cyberiad.dmm
  code/_onclick/hud/ai.dm
  code/controllers/configuration.dm
  code/game/mecha/combat/combat.dm
  code/game/mecha/combat/durand.dm
  code/game/mecha/combat/gygax.dm
  code/game/mecha/combat/honker.dm
  code/game/mecha/combat/marauder.dm
  code/game/mecha/combat/phazon.dm
  code/game/mecha/equipment/mecha_equipment.dm
  code/game/mecha/equipment/tools/medical_tools.dm
  code/game/mecha/equipment/tools/mining_tools.dm
  code/game/mecha/equipment/tools/other_tools.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/mecha/makeshift/lockermech.dm
  code/game/mecha/mech_fabricator.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_actions.dm
  code/game/mecha/mecha_construction_paths.dm
  code/game/mecha/mecha_parts.dm
  code/game/mecha/mecha_topic.dm
  code/game/mecha/mecha_wreckage.dm
  code/game/mecha/medical/odysseus.dm
  code/game/mecha/paintkits.dm
  code/game/mecha/working/working.dm
  code/game/turfs/simulated/minerals.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/research/designs/mecha_designs.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/space_dragon/carp.dm
  code/modules/space_dragon/carp_rift.dm
  code/modules/space_dragon/mob.dm
  config/example/config.txt
  icons/mob/actions/actions_mecha.dmi
  icons/mob/inhands/mobs_lefthand.dmi
  icons/mob/inhands/mobs_righthand.dmi
  icons/obj/mecha/mech_construct.dmi
  icons/obj/mecha/mech_construction.dmi
  icons/obj/mecha/mecha.dmi
  icons/obj/mecha/mecha_equipment.dmi
Labels: DMI, MAP

#117 Revert: Erp Corner...
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#115 Feat: (Cyberiad) Brigmed Hardsuit and genetics closet back
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#122 [BOUNTY] Add: Lear room
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/objects/effects/decals/remains.dm
  code/game/objects/items/weapons/grenades/custom_grenades.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/sound.dm
  code/modules/mob/living/simple_animal/friendly/animals_named.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/reagents/reagent_containers/bottle.dm
  code/modules/research/experimentor.dm
  icons/mob/animal.dmi
  icons/obj/assemblies.dmi
Labels: DMI, MAP

#125 [BOUNTY] Add: New sprite and sound for WT550
  icons/obj/weapons/ammo.dmi
  icons/obj/weapons/projectile.dmi
  sound/weapons/gun_interactions/batrifle_magin.ogg
  sound/weapons/gun_interactions/batrifle_magout.ogg
  sound/weapons/gunshots/1wt.ogg
Labels: DMI

#118 Revert "Feat: [Bounty] (Cyberiad) ERP corner..."
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#131 Vulpkanin hairstyles
  code/modules/mob/new_player/sprite_accessories/vulpkanin/vulpkanin_hair.dm
  icons/mob/sprite_accessories/vulpkanin/vulpkanin_hair.dmi
Labels: DMI

#136 fix: Missing console
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#135 [PRIME] Hangar mechanics
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP
