Repository ss220club/Paradise, pull requests merged in 2023-06, with the labels that each got.

#142 Access to mechanic for keksplorers
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#143 [BOUNTY] Add: 2 Shark Costumes
  code/modules/client/preference/loadout/loadout_shoes.dm
  code/modules/client/preference/loadout/loadout_suit.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/feet.dmi
  icons/mob/head.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits.dmi
Labels: DMI

#144 [Bounty] Bluespace syringe and bigger bluespace beaker
  code/modules/reagents/reagent_containers/glass_containers.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/research/designs/medical_designs.dm
  icons/goonstation/objects/syringe.dmi
  icons/obj/chemical.dmi
Labels: DMI

#146 [Main + Prime] Pixel shifting and polarization
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/objects/structures/window.dm
  icons/obj/stationobjs.dmi
Labels: DMI, MAP

#147 [PRIME] Fix: Test sync Cyberiad
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#150 Feat: Beautifull windows and walls
  _maps/map_files/cerestation/Lavaland.dmm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/game/objects/effects/misc.dm
  code/game/objects/effects/spawners/windowspawner.dm
  code/game/objects/items/weapons/RCD.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/simulated/walls_indestructible.dm
  icons/obj/doors/windoor.dmi
  icons/obj/interface.dmi
  icons/obj/shards.dmi
  icons/obj/smooth_structures/plasma_window.dmi
  icons/obj/smooth_structures/reinforced_window.dmi
  icons/obj/smooth_structures/rice_window.dmi
  icons/obj/smooth_structures/rplasma_window.dmi
  icons/obj/smooth_structures/tinted_window.dmi
  icons/obj/smooth_structures/window.dmi
  icons/obj/smooth_structures/windows/clockwork_window.dmi
  icons/obj/smooth_structures/windows/plasma_window.dmi
  icons/obj/smooth_structures/windows/plastitanium_window.dmi
  icons/obj/smooth_structures/windows/reinforced_window.dmi
  icons/obj/smooth_structures/windows/rplasma_window.dmi
  icons/obj/smooth_structures/windows/shuttle_window.dmi
  icons/obj/smooth_structures/windows/shuttle_window_gray.dmi
  icons/obj/smooth_structures/windows/shuttle_window_ninja.dmi
  icons/obj/smooth_structures/windows/tinted_window.dmi
  icons/obj/smooth_structures/windows/window.dmi
  icons/obj/structures.dmi
  icons/turf/walls/fake_glass.dmi
  icons/turf/walls/reinforced_wall.dmi
  icons/turf/walls/rusty_reinforced_wall.dmi
  icons/turf/walls/rusty_wall.dmi
  icons/turf/walls/wall.dmi
  sound/effects/glassbang.ogg
Labels: DMI, MAP

#148 FIX: Shark Costume
  icons/mob/head.dmi
  icons/mob/suit.dmi
Labels: DMI

#151 Fix: Buttons under windows
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/machinery/doors/airlock_control.dm
  code/game/machinery/embedded_controller/airlock_controllers.dm
  code/game/turfs/simulated/walls_misc.dm
Labels: MAP

#155 Fix: Bad insulating gloves at the mechanic
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#154 Fix: Replace bad walls and rotate some machinery
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomZLevels/academy.dmm
  _maps/map_files/RandomZLevels/beach.dmm
  _maps/map_files/RandomZLevels/centcomAway.dmm
  _maps/map_files/RandomZLevels/evil_santa.dmm
  _maps/map_files/RandomZLevels/example.dmm
  _maps/map_files/RandomZLevels/moonoutpost19.dmm
  _maps/map_files/RandomZLevels/terrorspiders.dmm
  _maps/map_files/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/shuttles/admin_admin.dmm
  _maps/map_files/shuttles/admin_armory.dmm
  code/game/dna/dna_modifier.dm
  code/game/machinery/autolathe.dm
  code/game/machinery/computer/Operating.dm
  code/game/machinery/computer/cloning.dm
  code/game/objects/structures/aliens.dm
  code/game/turfs/simulated/walls_indestructible.dm
  icons/obj/items.dmi
  icons/obj/machines/monitors.dmi
  icons/obj/machines/robotics.dmi
  icons/obj/machines/sec_autolathe.dmi
  icons/obj/machines/vending.dmi
  icons/obj/pipes_and_stuff/atmospherics/atmos.dmi
  icons/obj/stationobjs.dmi
  icons/turf/walls/fake_glass.dmi
Labels: DMI, MAP

#23 feat: Changed AI/Cyborg laws upload
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/CentComm.dmm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/computer/law.dm
  code/game/objects/items/weapons/AI_modules.dm
  tgui/packages/tgui/interfaces/UploadPanel.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: javascript, MAP, TGUI

#156 Fix: Delta machinery directions
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#157 Fix: SCC hole
  _maps/map_files/generic/CentComm.dmm
Labels: MAP

#159 Tweak: Lobby screen update for widescreen
  _maps/map_files/generic/CentComm.dmm
  config/title_screens/images/blank.png
  config/title_screens/images/default.dmi
Labels: DMI, MAP

#160 Fix: Return lights for warden locker
  icons/obj/closet.dmi
Labels: DMI

#161 feat (port): Screentips
  SQL/paradise_schema.sql
  SQL/updates/30-31.sql
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/generic/z2_old.dmm
  code/__DEFINES/flags.dm
  code/__DEFINES/misc.dm
  code/_onclick/hud/action_button.dm
  code/_onclick/hud/alert.dm
  code/_onclick/hud/blob_overmind.dm
  code/_onclick/hud/ghost.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/screen_objects.dm
  code/_onclick/hud/screentip.dm
  code/controllers/subsystem/titlescreen.dm
  code/game/atoms.dm
  code/game/objects/items.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/walls_indestructible.dm
  code/game/turfs/space/space.dm
  code/modules/client/client_procs.dm
  code/modules/client/preference/preferences.dm
  code/modules/client/preference/preferences_mysql.dm
  config/example/dbconfig.txt
  interface/skin.dmf
  paradise.dme
Labels: MAP

#162 feat: Exploitable Records
  SQL/paradise_schema.sql
  SQL/updates/31-32.sql
  code/__DEFINES/misc.dm
  code/datums/datacore.dm
  code/game/objects/items/devices/uplinks.dm
  code/modules/client/preference/preferences.dm
  code/modules/client/preference/preferences_mysql.dm
  code/modules/mob/mob_defines.dm
  config/example/dbconfig.txt
  tgui/packages/tgui/interfaces/Uplink.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: javascript, TGUI

#163 Feat: RnD and Robotics remap
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#165 Feat: Title screen
  code/_globalvars/lists/mobs.dm
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/titlescreen.dm
  code/modules/admin/admin_verbs.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/title_screen/code/_title_screen_defines.dm
  code/modules/title_screen/code/new_player.dm
  code/modules/title_screen/code/title_screen_controls.dm
  code/modules/title_screen/code/title_screen_html.dm
  code/modules/title_screen/code/title_screen_subsystem.dm
  code/modules/title_screen/icons/default.dmi
  code/modules/title_screen/icons/loading_screen.gif
  config/example/title_html.txt
  html/browser/FixedsysExcelsior3.01Regular.ttf
  interface/skin.dmf
  paradise.dme
Labels: DMI

#166 Fix: Mech fab output direction
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/mecha/mech_fabricator.dm
Labels: MAP

#173 Fix: Plasma leak and bad windows
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#174 Window airbag
  code/__DEFINES/dcs/signals.dm
  code/_onclick/click.dm
  code/datums/components/decal.dm
  code/datums/components/ducttape.dm
  code/datums/components/examine_override.dm
  code/datums/components/label.dm
  code/datums/components/material_container.dm
  code/datums/spells/mimic.dm
  code/game/atoms.dm
  code/game/gamemodes/miniantags/revenant/revenant_abilities.dm
  code/game/objects/obj_defense.dm
  code/game/objects/structures/inflatable.dm
  code/game/objects/structures/window.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/window_airbags/code/window_airbag.dm
  code/modules/window_airbags/readme.md
  code/modules/window_airbags/sound/airbag_arm.ogg
  code/modules/window_airbags/sound/airbag_bang.ogg
  icons/obj/inflatable.dmi
  paradise.dme
Labels: DMI

#179 del: Чистка деп. локеров и шкафчиков
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomRuins/SpaceRuins/USSP_gorky17.dmm
  _maps/map_files/RandomRuins/SpaceRuins/USSP_gorky17_collapsed.dmm
  _maps/map_files/RandomRuins/SpaceRuins/abandonedzoo.dmm
  _maps/map_files/RandomZLevels/centcomAway.dmm
  _maps/map_files/RandomZLevels/spacebattle.dmm
  _maps/map_files/RandomZLevels/stationCollision.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/generic/syndicatebase.dmm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/hydroponics.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/mining/mine_items.dm
Labels: MAP
