Repository ss220club/Paradise, pull requests merged in 2023-07, with the labels that each got.

#182 Map fixes
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/generic/Lavaland.dmm
Labels: MAP

#183 Fix: Missing BS beaker sprites (PRIME)
  icons/goonstation/objects/syringe.dmi
  icons/obj/chemical.dmi
Labels: DMI

#184 Tweak: Little USSP inprovements
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
Labels: MAP

#186 Fix: Machinery under the window
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#187 Update intercom sprite
  code/__HELPERS/game.dm
  code/game/atoms.dm
  code/game/mecha/mecha.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/mob/living/say.dm
  icons/obj/intercom.dmi
  icons/obj/radio.dmi
Labels: DMI

#191 Remove: Combat gloves from armory
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#192 Tweak: APC sprite directions and vent's border cut
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  icons/obj/engines_and_power/power.dmi
  icons/obj/machines/computer.dmi
  icons/obj/pipes_and_stuff/atmospherics/atmos/vent_pump.dmi
  icons/obj/pipes_and_stuff/atmospherics/atmos/vent_scrubber.dmi
Labels: DMI, MAP

#196 Little CentCom cleaning
  _maps/map_files/generic/CentComm.dmm
Labels: MAP

#193 Tweak: Botany dispenser and glasses (Cyberiad)
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#194 Tweak: Chain of command for HoS (Cyberiad)
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#198 Rock and stone!
  _maps/map_files/generic/Lavaland.dmm
  code/__DEFINES/colors.dm
  code/game/turfs/simulated/minerals.dm
  code/game/turfs/simulated/walls_indestructible.dm
  icons/turf/floors/lava.dmi
  icons/turf/walls/rock.dmi
  icons/turf/walls/rock_wall.dmi
Labels: DMI, MAP

#199 Full redo of USSP ghostrole
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  code/modules/mob/language.dm
  code/modules/ruins/ussp_base.dm
Labels: MAP

#202 Tweak: Better coated walls & intercoms
  _maps/map_files/cyberiad/cyberiad.dmm
  icons/obj/intercom.dmi
  icons/turf/walls/coated_reinforced_wall.dmi
Labels: DMI, MAP

#205 Revert/Fix: Return old fire and air alarms.
  code/game/objects/structures/false_walls.dm
  icons/obj/machines/monitors.dmi
Labels: DMI

#206 New costumes of fox and unicorn
  code/modules/client/preference/loadout/loadout_shoes.dm
  code/modules/client/preference/loadout/loadout_suit.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/feet.dmi
  icons/mob/head.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits.dmi
Labels: DMI

#207 Fix: Wall machinery under windows
  _maps/map_files/Delta/delta.dmm
  code/game/machinery/alarm.dm
  code/game/machinery/door_control.dm
  code/game/machinery/firealarm.dm
  code/game/machinery/lightswitch.dm
  code/game/machinery/requests_console.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/structures/window.dm
  code/modules/newscaster/obj/newscaster.dm
  code/modules/power/apc.dm
Labels: MAP

#210 Icons (check icondiff)
  icons/obj/machines/monitors.dmi
Labels: DMI

#211 Again new walls and windows
  icons/obj/smooth_structures/windows/plasma_window.dmi
  icons/obj/smooth_structures/windows/reinforced_window.dmi
  icons/obj/smooth_structures/windows/rplasma_window.dmi
  icons/obj/smooth_structures/windows/tinted_window.dmi
  icons/obj/smooth_structures/windows/window.dmi
  icons/turf/walls/fake_glass.dmi
  icons/turf/walls/reinforced_wall.dmi
  icons/turf/walls/wall.dmi
Labels: DMI

#212 Del: Cult whetstone from maps
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#215 [FEAT] Slugs are Gone
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/datums/supplypacks.dm
  code/modules/research/designs/autolathe_designs.dm
Labels: MAP

#219 Map update: Cyberiad: EFTPOS placement.
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP
